<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title> Title </title>
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="css/reset.css" />
<link rel="stylesheet" href="css/text.css" />
<link rel="stylesheet" href="css/960.css" />
<link rel="stylesheet" href="css/less/styles.less" />
</head>
<body>
  
<div class="container_12"> <!-- Content-->
  
   
  
    
    
</div> <!-- END Content-->



<script src="js/less.js"></script>
</body>
</html>